<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 10px;"> 
# Pandas Lab

---
Week 1 | Lab 1.10

In [1]:
import pandas as pd
import numpy as np

#### 1. Load in the SF crimes dataset:

In [3]:
df = pd.read_csv('../../../datasets/sf_crime/sf_crime_sample.csv')

#### 2. Print the head

In [4]:
df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2003-03-23 23:27:00,ARSON,ARSON OF A VEHICLE,Sunday,BAYVIEW,NONE,0 Block of HUNTERS PT EXPWY EX,-122.376945,37.733018
1,2006-03-07 06:45:00,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Tuesday,NORTHERN,NONE,0 Block of MARINA BL,-122.432952,37.805052
2,2004-03-06 03:00:00,NON-CRIMINAL,LOST PROPERTY,Saturday,SOUTHERN,NONE,800 Block of BRYANT ST,-122.403405,37.775421
3,2011-12-03 12:10:00,BURGLARY,"BURGLARY OF STORE, UNLAWFUL ENTRY",Saturday,TARAVAL,"ARREST, BOOKED",3200 Block of 20TH AV,-122.475647,37.728528
4,2003-01-10 00:15:00,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Friday,NORTHERN,NONE,POLK ST / BROADWAY ST,-122.421772,37.795946

#### 3. Print the unique categories and how many there are

In [7]:
df.columns.values

array(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y'], dtype=object)

#### 4. Print the unique districts and how many there are

In [22]:
set(df['PdDistrict'])

{'BAYVIEW',
 'CENTRAL',
 'INGLESIDE',
 'MISSION',
 'NORTHERN',
 'PARK',
 'RICHMOND',
 'SOUTHERN',
 'TARAVAL',
 'TENDERLOIN'}

In [23]:
len(set(df['PdDistrict']))

10

#### 5. Make a DataFrame of the crime categories and the number of crimes per category

In [16]:
df_crime = pd.value_counts(df['Category'])

In [17]:
df_crime

LARCENY/THEFT                  4934
OTHER OFFENSES                 3656
NON-CRIMINAL                   2601
ASSAULT                        2164
DRUG/NARCOTIC                  1533
VEHICLE THEFT                  1506
VANDALISM                      1280
WARRANTS                       1239
BURGLARY                       1023
SUSPICIOUS OCC                  891
MISSING PERSON                  771
ROBBERY                         630
FRAUD                           537
SECONDARY CODES                 283
FORGERY/COUNTERFEITING          281
WEAPON LAWS                     255
PROSTITUTION                    223
TRESPASS                        209
STOLEN PROPERTY                 137
SEX OFFENSES FORCIBLE           120
DRUNKENNESS                     105
DISORDERLY CONDUCT              105
RECOVERED VEHICLE                80
DRIVING UNDER THE INFLUENCE      75
KIDNAPPING                       71
RUNAWAY                          58
ARSON                            52
LIQUOR LAWS                      51
LOITERING                        37
EMBEZZLEMENT                     28
BAD CHECKS                       14
FAMILY OFFENSES                  14
SUICIDE                          12
EXTORTION                         9
BRIBERY                           8
GAMBLING                          5
SEX OFFENSES NON FORCIBLE         2
TREA                              1
Name: Category, dtype: int64

#### 6. Make a DataFrame of the districts and crime counts per district

In [25]:
pd.value_counts(df['PdDistrict'])

SOUTHERN      4413
MISSION       3416
NORTHERN      3076
BAYVIEW       2555
CENTRAL       2424
TENDERLOIN    2336
INGLESIDE     2256
TARAVAL       1804
PARK          1438
RICHMOND      1282
Name: PdDistrict, dtype: int64

#### 7. Make a DataFrame of the day of week and crime counts per day

In [24]:
pd.value_counts(df['DayOfWeek'])

Friday       3883
Wednesday    3657
Thursday     3579
Tuesday      3548
Monday       3524
Saturday     3496
Sunday       3313
Name: DayOfWeek, dtype: int64

#### 8. Describe one of the dataframes

In [29]:
df.describe()

                  X             Y
count  25000.000000  25000.000000
mean    -122.422454     37.773486
std        0.032753      0.572667
min     -122.513642     37.708003
25%     -122.432797     37.752874
50%     -122.416469     37.775421
75%     -122.406953     37.784401
max     -120.500000     90.000000